
###################
##### Jupyter #####
###################
startIJulia.bat
startJupyter.bat
.ipynb_checkpoints/


###################
##### Sublime #####
###################
*.sublime-project
*.sublime-workspace